/* Header */
.header {
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.img-head {
    width: 35.35px;
    height: 35px;
}


/* Main */

.sidebar {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/* Item menu */
.menu-content {
    background: rgba(190, 195, 202, 0.3);
}

.item-menu {
    border-radius: 10px;
    width: 250px;
    height: 200px;
    cursor: pointer;
}
.item-menu:hover {
    opacity: 0.8;
    transition: .3s;
}

.item-menu img {
    border-radius: 10px;
    filter: brightness(50%);
}

.img-two img.selected {
    position: absolute;
    top: 75px;
    right: 0;
    left: 0;
    margin: auto;
    width: 50px;
    height: 50px;
}


/* Cart */

.cart {
    background: #FFFFFF;
    /* border: 1px solid #CECECE; */
}

.cart-title {
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
}



.total-item {
    text-align: center;
    line-height: 20px;
    background: #57CAD5;
    width: 20px;
    height: 20px;
    color: white;
}

/* Checkout */

.add-btn button {
    background: rgba(130, 222, 58, 0.2);
    border: 1px solid #82DE3A;
    box-sizing: border-box;
}
.add-btn input {
    background: #FFFFFF;
    border: 1px solid #82DE3A;
    box-sizing: border-box;
}

.btn-one {
    color: #fff;
    background-color: #f24f8a;
}

.btn-one:hover {
    color: #fff;
    background-color: #ee5f94;
}
.btn-two {
    color: #fff;
    background-color: #57cad5;
}
.btn-two:hover {
    color: #fff;
    background-color: #41c5d1;
}


/* Modal */
.shadow {
    background: #FFFFFF;
    border: 1px solid #CECECE;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.item-checkout {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-btn {
    display: block;
    margin: 0 auto;
    text-align: center;
}

button.print {  
    background: #F24F8A;
}
button.send {
    background: #57CAD5;
}

.footer-btn button {
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    
}


@media screen and (max-width: 576px) {
   .sidebar {
       display: none;
   }

   

   /* .item-card {
       padding-left: 100px;
       
   }
   .item-card img {
    width: 350px;
    height: 275px;
   } */

}