html, body {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
}


.food-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-top: 5px;
    width: 942px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
header h2 {
    text-align: center;
}

.cart {
    float: right;
    margin-top: 5px;
    width: 415px;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.25);
}

/* Main */

.container {
    display: flex;
}

.dropdown-list {
    padding: 25px;
    width: 40%;
}

.dropdown-menu {
    width: 100px;
    height: 938px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.list-menu {
    display: flex;
    flex-wrap: wrap;
    width: 893px;
    height: 922px;
    background: rgba(190, 195, 202, 0.3);
    box-sizing: border-box;
}


/* List menu */


.list-item {

    flex-direction: row;
    margin-top: 15px;
    margin-left: 27px;
}

.list-item .menu-item {
    width: 250px;
    height: 200px;
}

/* Cart */

.cart-item {
    width: 410px;
    height: 932px;
    background: #FFFFFF;
    /* border: 1px solid #CECECE; */
    border: 1px solid black;
}
.cart-img {
    border: 1px solid black;
}

.empty {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

h3 {text-align: center;}





/* Responsive */
/* Extra small devices (portrait phones, less than 576px) */


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .cart {
        width: 100%;
    }

    .list-item {
        width: 100%;
        flex-direction: column;
    }
}
