html, body {
    margin: 0;
}

/* Header */

header {
    display: flex;
    height: 100px;
}

.banner {
    display: flex;
    width: 992px;
    /* border: 1px solid black; */
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.cart {
    display: flex;
    width: 451px;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}
.cart h3 {
    width: 50px;
}
.cart p {
    width: 10px;
    border: 1px solid black;
    /* border-radius: 50%; */
    background-color: #57CAD5;;
}

/* Main */

main {
    display: flex;
}

.dropdown {
    width: 99px;
    height: 925px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.drop-img {
    margin-left: 25px;
    margin-top: 40px;
}

.drop-img img {
    width: 40px;
    height: 40px;
}


.main-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 891px;
    height: 925px;
    background: rgba(190, 195, 202, 0.3);
}

.menu-item {
    width: 250px;
    margin: 10px;
    height: 200px;
}

.menu-item img {
    width: 250px;
    height: 200px;
}

/* Cart List */

.cart-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 420px;
    background: #FFFFFF;
    border: 1px solid #CECECE;
}

.cart-item {
    display: flex;
    justify-content: space-around;
    margin: 25px;
    border: 1px solid black;
}

.checkout-btn {
    margin: 30px 20px 20px;
    text-align: center;
    color: white;
    background: #57CAD5;
}

.cancel-btn {
    margin: 20px;
    text-align: center;
    color: white;
    background: #F24F8A;
}
